// SPDX-License-Identifier: GPL-2.0-only
// SPDX-FileCopyrightText: Copyright (c) 2018-2023, INTEL CORPORATION.  All rights reserved.

/dts-v1/;
/plugin/;

#include <dt-bindings/gpio/tegra264-gpio.h>

/* camera control gpio definitions */
/ {
	overlay-name = "Jetson RealSense Camera D4xx with max96712 Advantech for Thor";
	jetson-header-name = "Jetson AGX CSI Connector";
	compatible = "nvidia,p4071-0000+p3834-0008", "nvidia,p3834-0008", "nvidia,tegra264";

	fragment@0 {
		target-path = "/";
		__overlay__ {
			tegra-capture-vi {
				num-channels = <4>;
				ports {
					status = "okay";
					#address-cells = <1>;
					#size-cells = <0>;
					port@0 {
						status = "okay";
						reg = <0>;
						tegra_vi_depth: endpoint {
							status = "okay";
							port-index = <0>;
							remote-endpoint = <&csi_depth_source>;
						};
					};
					port@1 {
						status = "okay";
						reg = <1>;
						tegra_vi_rgb: endpoint {
							status = "okay";
							port-index = <1>;
							remote-endpoint = <&csi_rgb_source>;
						};
					};
					port@2 {
						status = "okay";
						reg = <2>;
						tegra_vi_ir: endpoint {
							status = "okay";
							port-index = <2>;
							remote-endpoint = <&csi_ir_source>;
						};
					};
					port@3 {
						status = "okay";
						reg = <3>;
						tegra_vi_imu: endpoint {
							status = "okay";
							port-index = <3>;
							remote-endpoint = <&csi_imu_source>;
						};
					};
				};
			};
			tegra-camera-platform {
				compatible = "nvidia, tegra-camera-platform";
				status = "okay";
				num_csi_lanes = <2>;
				max_lane_speed = <1500000>;
				min_bits_per_pixel = <8>;
				vi_peak_byte_per_pixel = <2>;
				vi_bw_margin_pct = <25>;
				max_pixel_rate = <160000>;
				isp_peak_byte_per_pixel = <5>;
				isp_bw_margin_pct = <25>;
				modules {
					status = "okay";
					module0 {
						status = "okay";
						badge = "d4xx_Y8";
						position = "left";
						orientation = "1";
						drivernode0 {
							status = "okay";
							pcl_id = "v4l2_sensor";
							devname = "DS5 mux 9-001c";
							sysfs-device-tree = "/sys/firmware/devicetree/base/bus@0/i2c@810c6a0000/ds5@10";
						};
					};
					module1 {
						status = "okay";
						badge = "d4xx_depth";
						position = "left";
						orientation = "1";
						drivernode0 {
							status = "okay";
							pcl_id = "v4l2_sensor";
							devname = "DS5 mux 9-001a";
							sysfs-device-tree = "/sys/firmware/devicetree/base/bus@0/i2c@810c6a0000/ds5@10";
						};
					};
					module2 {
						status = "okay";
						badge = "d4xx_imu";
						position = "left";
						orientation = "1";
						drivernode0 {
							status = "okay";
							pcl_id = "v4l2_sensor";
							devname = "DS5 mux 9-001d";
							sysfs-device-tree = "/sys/firmware/devicetree/base/bus@0/i2c@810c6a0000/ds5@10";
						};
					};
					module3 {
						status = "okay";
						badge = "d4xx_rgb";
						position = "left";
						orientation = "1";
						drivernode0 {
							status = "okay";
							pcl_id = "v4l2_sensor";
							devname = "DS5 mux 9-001b";
							sysfs-device-tree = "/sys/firmware/devicetree/base/bus@0/i2c@810c6a0000/ds5@10";
						};
					};
				};
			};
			bus@0 {
				host1x@8181200000 {
					nvcsi@8188000000 {
						num-channels = <4>;
						channel@0 {
							status = "okay";
							reg = <0>;
							ports {
								status = "okay";
								#address-cells = <1>;
								#size-cells = <0>;
								port-index = <0>;
								port@0 {
									status = "okay";
									reg = <0>;
									csi_depth_sink: endpoint@0 {
										status = "okay";
										vc-id = <0>;
										remote-endpoint = <&deserializer_source_depth>;
									};
									csi_depth_source: endpoint@1 {
										status = "okay";
										port-index = <1>;
										remote-endpoint = <&tegra_vi_depth>;
									};
								};
								port@1 {
									status = "okay";
									reg = <1>;
									csi_rgb_sink: endpoint {
										status = "okay";
										port-index = <2>;
										vc-id = <1>;
										remote-endpoint = <&deserializer_source_rgb>;
									};
									csi_rgb_source: endpoint@1 {
										status = "okay";
										port-index = <3>;
										remote-endpoint = <&tegra_vi_rgb>;
									};
								};
								port@2 {
									status = "okay";
									reg = <2>;
									csi_ir_sink: endpoint {
										status = "okay";
										port-index = <2>;
										vc-id = <2>;
										remote-endpoint = <&deserializer_source_ir>;
									};
									csi_ir_source: endpoint@1 {
										status = "okay";
										port-index = <3>;
										remote-endpoint = <&tegra_vi_ir>;
									};
								};
								port@3 {
									status = "okay";
									reg = <3>;
									csi_imu_sink: endpoint@0 {
										status = "okay";
										port-index = <2>;
										vc-id = <3>;
										remote-endpoint = <&deserializer_source_imu>;
									};
									csi_imu_source: endpoint@1 {
										status = "okay";
										port-index = <3>;
										remote-endpoint = <&tegra_vi_imu>;
									};
								};
							};
						};
					};
				};

				i2c@810c6a0000 {
					clock-frequency = <100000>;

					deserializer: max96712@29 {
						status = "okay";
						reg = <0x29>;
						compatible = "maxim,max96712";
						csi-mode = "2x4";
						channel = "a";
						force_clk0;
						ports {
							#address-cells = <1>;
							#size-cells = <0>;
							port@0 {
								reg = <0>;
								deserializer_sink: endpoint {
									port-index = <0>;
									remote-endpoint = <&serializer_source>;
								};
							};
							port@1 {
								reg = <1>;
								deserializer_source_depth: endpoint {
									port-index = <1>;
									remote-endpoint = <&csi_depth_sink>;
								};
							};
							port@2 {
								reg = <2>;
								deserializer_source_rgb: endpoint {
									port-index = <1>;
									remote-endpoint = <&csi_rgb_sink>;
								};
							};
							port@3 {
								reg = <3>;
								deserializer_source_ir: endpoint {
									port-index = <1>;
									remote-endpoint = <&csi_ir_sink>;
								};
							};
							port@4 {
								reg = <4>;
								deserializer_source_imu: endpoint {
									port-index = <1>;
									remote-endpoint = <&csi_imu_sink>;
								};
							};
						};
					};

					serializer: max9295_a@40 {
						status = "okay";
						compatible = "maxim,max9295";
						reg = <0x40>;
						ports {
							#address-cells = <1>;
							#size-cells = <0>;
							port@0 {
								reg = <0>;
								serializer_source: endpoint {
									port-index = <0>;
									remote-endpoint = <&deserializer_sink>;
								};
							};
							port@1 {
								reg = <1>;
								port-index = <1>;
								serializer_sink_depth: endpoint {
									port-index = <1>;
									remote-endpoint = <&sensor_depth>;
								};
							};
							port@2 {
								// reg = <2>;
								port-index = <1>;
								serializer_sink_rgb: endpoint {
									port-index = <1>;
									remote-endpoint = <&sensor_rgb>;
								};
							};
							port@3 {
								reg = <3>;
								port-index = <1>;
								serializer_sink_ir: endpoint {
									port-index = <1>;
									remote-endpoint = <&sensor_ir>;
								};
							};
							port@4 {
								reg = <4>;
								port-index = <4>;
								serializer_sink_imu: endpoint {
									port-index = <1>;
									remote-endpoint = <&sensor_imu>;
								};
							};
						};
					};

					sensor: ds5@10 {
						status = "okay";
						reg = <0x10>;
						compatible = "intel,d4xx";
						use_sensor_mode_id = "true";
						num_lanes = "2";
						ports {
							#address-cells = <1>;
							#size-cells = <0>;

							port@0 {
								reg = <0>;
								sensor_depth: endpoint {
									port-index = <0>;
									bus-width = <2>;
									remote-endpoint = <&serializer_sink_depth>;
									mode {
										pixel_t = "grey_y16";
										num_lanes = "2";
										csi_pixel_bit_depth = "16";
										active_w = "640";
										active_h = "480";
										tegra_sinterface = "serial_b";
										mclk_khz = "24000";
										pix_clk_hz = "74250000";
										line_length = "1280"; /* 2200 */
									};
								};
							};
							port@1 {
								reg = <1>;
								sensor_rgb: endpoint {
									port-index = <1>;
									bus-width = <2>;
									remote-endpoint = <&serializer_sink_rgb>;
									mode {
										pixel_t = "grey_y16";
										num_lanes = "2";
										csi_pixel_bit_depth = "16";
										active_w = "1920";
										active_h = "1080";
										tegra_sinterface = "serial_e";
										mclk_khz = "24000";
										pix_clk_hz = "74250000";
										line_length = "1280"; /* 2200 */
									};
								};
							};
							port@2 {
								reg = <2>;
								sensor_ir: endpoint {
									port-index = <2>;
									bus-width = <2>;
									remote-endpoint = <&serializer_sink_ir>;
									mode {
										pixel_t = "grey_y16";
										num_lanes = "2";
										csi_pixel_bit_depth = "16";
										active_w = "1280";
										active_h = "720";
										tegra_sinterface = "serial_a";
										mclk_khz = "24000";
										pix_clk_hz = "74250000";
										line_length = "1280"; /* 2200 */
									};
								};
							};
							port@3 {
								reg = <3>;
								sensor_imu: endpoint {
									port-index = <3>;
									bus-width = <2>;
									remote-endpoint = <&serializer_sink_imu>;
									/* mode0: Y8, mode1: depth D16 */
									mode {
										pixel_t = "grey_y16";
										num_lanes = "2";
										csi_pixel_bit_depth = "16";
										active_w = "1280";
										active_h = "720";
										tegra_sinterface = "serial_b";
										mclk_khz = "24000";
										pix_clk_hz = "74250000";
										line_length = "1280"; /* 2200 */
									};
								};
							};
						};
					};
				};
			};
		};
	};
};
